#linkid {
    color: pink;
    font-size: 100px;
    position: absolute;
    top: 35%;
    left: 20%;
    padding: 10px;
}

#linkid:hover {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}
